<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assents/css/produtos.css">
</head>

<body>
    <header>
        <div>
            <span id="usuario-logado"></span>
        </div>
        <br><br>
        <div style="padding-top: 5px;">Retornar para aba Login</div>
        <br>
        <button type="button" onclick="retornarLogin()">Voltar</button>
    </header>
    <br>
    <div><button type="button" id="filtro01">Filtrar Apenas em Estoque</button>
        <h3>Media dos preços: <div id="media"></div>
        </h3>
    </div>
    <div><button type="button" id="emDolar">Dolar</button>

    </div>
    <div id="listaProdutos"></div>

    <script type="text/javascript" src="../assents/js/home.js"></script>
    <script type="text/javascript" src="../assents/js/funcoes_funcionais.js"></script>
</body>
<script type="text/javascript" src="../assents/js/requisicoes.js"></script>

</html>